/* PC low resolution and Tablet and Mobile(< 1239px) */
@media (max-width: 77.4375em)
{
}

/* PC low resolution and Tablet (740px - 1239px) */
@media (max-width: 77.4375em) and (min-width: 46.25em)
{

}

/* Tablet and Mobile (< 1023px) */
@media (max-width: 63.9375em)
{
    .header-container{
        padding: 15px;
        justify-content: flex-start;
    }
    .navbar{
        display: none;
    }
    .navbar-mobile-container{
        display: block;
        order: 1;
    }
    .fas.fa-bars{
        font-size: 35px;
    }
   
    .btn-53{
        display: none;
    }
    .logo{
        order: 2;
        flex-grow: 1;
    }

    .logo img{
        width: 50px;
    }
    .connection-options{
        flex-wrap: wrap;
    }
    .action-buttons{
        order: 3;
    }
    .account-btn{
        border-radius: 50%;

    }
    .modal-content{
        width: 75%;
    }
    .form-group{
        margin-bottom: 0;
    }
    .form-group label{
        margin-bottom: 2px;
    }

    .service-grid{
        flex-direction: column;
    }
    .section-service{
        display: block;
    }
    .section-service > div{
        margin-top: 12px;
    }
    .content-wrapper{
        flex-direction: column;
    }
    .image-wrapper, .content-wrapper>.content{
        max-width: 100%;
    }
    .news-item{
        flex: 0 0 50%;
    }
    .header-section > h1{
        display: block;
        text-align: center;
    }
    
    .header-text h1 {
        display: none;

    }
    .header-text {
        width: 60%;

    }
    .header-section{
        flex-wrap: wrap;
    }
    .header-image{
        width:40%;
    }
    
}

/* Tablet (740px - 1023px)*/
@media (max-width: 63.9375em) and (min-width: 46.25em)
{
    
}

/* Mobile (< 740px) */
@media (max-width: 46.1875em)
{

}